.page{
    height: 100vh;
    width: 100vw;
    background-color: #303030;

    .form-container{
        position: absolute;
        top: 50%;
        left: 75%;
        transform: translate(-50%,-50%);
        background-color: #FFFFFF;
        padding: 4rem;
        // border-top-left-radius: 2rem;
        // border-bottom-right-radius: 2rem;
        background: 
        linear-gradient(135deg, transparent 2rem, #ddd 0) top left,
        linear-gradient(-45deg, transparent 2rem, #ddd 0) bottom left;
        background-size: 100% 50%;
        background-repeat: no-repeat;
        form{
        div{
            margin-top: 1rem;
        }
        input{
            color: #303030;
            padding: 0.5rem;
            border: none;
            border-radius: 2px;
            background-color: #EDEDED;
            outline: none;
        }
        button{
            width: 100%;
            color: white;
            background-color: #DF8C0D;
            border-radius: 2px;
            border: none;
            padding: 0.5rem;
        }
        button:hover, button:focus{
            box-shadow: 0 0.5em 0.5em -0.4em #DF8C0D;
            transform: translateY(-0.25em);
        }
    }
    }
    .link{
        font-size: small;
        color: #303030;
        cursor: pointer;
        width: fit-content;
            
    }

}
